#ribbon {
  background-color: rgb(0, 37, 248);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    blue 25px,
    cyan 40px
  );
}
#ribbon::after {
  content: "";
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -40px;
}

#live {
  background-color: rgb(35, 47, 214);
  position: relative;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#textcenter1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.card-border{
    border: solid 10px black;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
#games {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#separator-streamers{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-streamers .content{
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.streamersRadius {
    border-radius: 50%;
}
.streamer-name{
    color: black;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

.streamer-name:hover{
    transform: scale(1.05);
}

.streamersRadius:hover{
    transform: scale(1.05);
}